<div class="history">
    <h2>History</h2>
    <hr>
    <ul>
        <% for (var entry in history) { %>
            <% if (history[entry].status == 'home') { %>
                <li><% entry %>. Returned on <%= history[entry].timestamp %></li>
            <% } else { %>
                <li><% entry %>. Departed on <%= history[entry].timestamp %></li>
            <% } %>
        <% } %>
    </ul>
</div>
