<div class="history">
    <h2>History</h2>
    <hr>
    <ul>
        <% for (var i = 0; i < history.length; i++) { %>
            <% if (history[i].status == 'home') { %>
                <li><% i %>. Returned on <%= history[i].timestamp %></li>
            <% } else { %>
                <li><% i %>. Departed on <%= history[i].timestamp %></li>
            <% } %>
        <% } %>
    </ul>
</div>
