<div class="history">
    <h2>History</h2>
    <hr>
    <ul>
        <% for (var entry in history) { %>
            <li><%= history[entry].status %> - <%= history[entry].timestamp %></li>
        <% } %>
    </ul>
</div>
