<div class="status">
    <div class="board">
        <h2>STATUS</h2>

        <% if (status == 'home') { %>
            <p>Your loved one is safe at home <span class="heart">♥</span>︎</p>
        <% } else if (status == 'away') { %>
            <p>
                <span class="warning">Warning!</span>
                The elder has taken flight!
                <br>
                They are <%= rssi %> yards from home.
            </p>
        <% } %>

        <a class="btn" href="/history">HISTORY ▸</a>
    </div>
</div>