<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div id="logo">
            <img src="/images/senior-signal-logo.png">
        </div>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
