* {box-sizing: border-box; margin: 0; padding: 0;}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #221F1B;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

h2 {
    font-size: 48px;
    margin: 0;
}

hr {
    margin-bottom: 25px;
}

.nav {
    width: 100%;
    height: 150px;
    padding: 25px;
    background-color: #221F1B;
    border-bottom: 2px solid white;
    margin-bottom: 25px;
}

.logo {
    width: 300px;
    height: 100%;
}

.logo-img {
    height: 100%;
}

.ul-history {
    margin-left: 50px;
    width: 50%;
}

.container {
    margin: 25px;
}

.wrapper {
    border: 0 solid black;
    padding: 25px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "welcome-content status";
}

.wrapper > div {
    border-radius: 10px;
    padding: 1em;
    color: white;
}

.wrapper > .status {
    background-color: #3F4347;
    border-radius: 10px;
}

.welcome-content {
  grid-area: welcome-content;
  text-align: center;
}

.welcome-title {
    margin-bottom: 50px;
}

.byline {
    margin-bottom: 75px;
}

.status {
  grid-area: status;
}

.btn {
    width: 300px !important;
    height: 50px;
    background-color: #1E88D1;
    color: white;
    text-decoration: none;
    display: block;
    margin: auto;
    border-radius: 5px;
    line-height: 50px;
    font-size: 24px;
}

.btn:hover {
    background-color: #1E6BA1;
}

footer {
    text-align: center;
}

footer > p {
    margin-bottom: 25px;
}

.separator {
    position: relative;
    color: #1E88D1;
    bottom: 2px;
}

@media screen and (max-width: 45em) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-template-areas:
            "welcome-content"
            "status";
    }
}